<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('./partials/head') %>
  <title>Test on ejs</title>
  <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
  <h1><%= new Date %></h1>
  <p>Huh? ejs</p>
  <script src="js/app.js"></script>
</body>
</html>
